<div>
    <app-message-balloon 
        *ngFor="let message of messages; trackBy: trackByMessages" 
        [fromUserKey]="message.fromUser"
        [text]="message.text"
        ></app-message-balloon>
</div>

<div class="chat__input-container">
    <app-input-message class="chat__input" (inputMessage)="onInputMessage($event)"></app-input-message>
    <button class="chat__button-send" (click)="sendMessage()">
        <i class="chat__button-send__icon" data-feather="send"></i>
    </button>
</div>
