.image-rounded__wrapper-image {
    background: var(--primary-dark);
    box-shadow: 4px 4px 4px var(--primary),
        -4px -4px 4px #4e4e5450;
    border-radius: 50%;
    padding: 4px;
    padding: 8px 8px;
    width: 36px;
    height: 36px;
}

.image-rounded__image {
    border-radius: 50%;
    width: 36px;
    height: 36px;
}