.container--padding {
    padding: 24px 16px;
}

.container {
    max-width: 40rem;
    margin: 2vh auto 0 auto;
    border-radius: 20px;
    min-height: 90vh;
    max-height: 95vh;

    background: linear-gradient(145deg, var(--primary-light), var(--primary) 110%);
    box-shadow: 16px 16px 32px var(--primary),
        -8px -8px 32px var(--primary-light);

    box-sizing: border-box;
}


@media (max-width: 600px) {
    .container--padding {
        padding: 24px 32px;
    }
}