.contact-row {
    display: flex;
    cursor: pointer;
    background-color: transparent;
    transition: filter .2s;
    margin-bottom: 16px;
    border-bottom: 1px solid transparent;
    color: var(--secondary);
}

.contact-row:hover {
    color: var(--tertiary);
    /* border-bottom: 1px solid var(--primary-light); */

}

.contact-row__wrapper-image {
    /* background-color: #1b1f26; */
    background: var(--primary);
    box-shadow: 4px 4px 4px var(--primary),
        -4px -4px 4px #4e4e5450;
    border-radius: 50%;
    padding: 4px;
    width: 36px;
    height: 36px;
    padding: 8px 8px;
}

.contact-row__image {
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.contact-row__wrapper-message {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid var(--primary-light);
    flex-grow: 1;
}

.contact-row__name {
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 2px;
}

.contact-row__text {
    font-weight: 300;
    font-size: 10px;
}