.input-message {
    box-sizing: border-box;
    min-height: 48px;
    padding: 0px 20px;
    box-sizing: border-box;
    border-radius: 28px;
    border: 2px solid transparent;
    overflow: hidden;
    background:
        linear-gradient(to right, transparent, transparent),
        linear-gradient(to right, var(--primary-light) 1%, transparent 100%);
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: inset 3px 3px 3px var(--primary),
        inset -2px -2px 2px var(--primary-light);
    max-width: 100%;
}

.input-message__wrapper {
    overflow: auto;
    max-height: calc(32 * 2px);
    margin: 12px 0;
}

.input-message__editable {
    outline: none;
    white-space: pre-wrap;
    margin: 0;
}

.input-message__editable:empty:before {
    content: attr(data-placeholder);
    color: var(--secondary);
    filter: opacity(.4);
    z-index: -1;
    cursor: text;
}